<ul class="nav nav-main">
	<li class="@ViewBag.ADashboard">
		<a class="nav-link" href="/Panel/">
			<i class="bx bx-home-alt" aria-hidden="true"></i>
			<span>Dashboard</span>
		</a>
	</li>
	<li class="@ViewBag.ASearch">
		<a class="nav-link" href="/Search/Filter">
			<i class="fa-brands fa-searchengin"></i>
			<span>Search</span>
		</a>
	</li>
	<li class="@ViewBag.ACategory">
		<a class="nav-link" href="/Category/Create">
			<i class="fas fa-list icon-category"></i>
			<span>Category</span>
		</a>
	</li>
	<li class="@ViewBag.ACourse">
		<a class="nav-link" href="/Course/Index">
			<i class="bx bx-book-open icon-course" aria-hidden="true"></i>
			<span>Course</span>
		</a>
	</li>
	<li class="@ViewBag.AInstructor">
		<a class="nav-link" href="/Instructor/Index">
			<i class="fas fa-chalkboard-teacher icon-course" aria-hidden="true"></i>
			<span>Instructor</span>
		</a>
	</li>
	<li class="@ViewBag.AProducer">
		<a class="nav-link" href="/Producer/Index">
			<i class="fas fa-pen-square icon-course" aria-hidden="true"></i>
			<span>Producer</span>
		</a>
	</li>

</ul>